/* trabajando con nodos  */

	p
	{
		/* nombre de la instrucción : valor ; */
		background-color: red;
		color: #ffffff;
		font-size: 20px;
	}
	div
	{
		background-color: blue;
		color: #ffffff;
	}

/* trabajando con selectores  */

/* trabajando con clases  */