/* trabajando con nodos  */

	/*
	p
	{
		background-color: red;
		color: #ffffff;
		font-size: 20px;
	}
	div
	{
		background-color: blue;
		color: #ffffff;
	}
	*/

/* trabajando con selectores  */

	/*
	#parrafo_1, #parrafo_2
	{
		background-color: red;
		color: #ffffff;
		font-size: 20px;
	}
	#parrafo_3
	{
		background-color: green;
		color: #ff00ff;
		font-size: 20px;
	}
	*/
	

/* trabajando con clases  */
	.parrafos
	{
		background-color: green !important;
		color: #ff00ff !important;
		font-size: 20px !important;
	}
	.parrafos2
	{
		background-color: red ;
		color: #ffffff;
		font-size: 10px;
	}
	.otra_clase
	{
		text-align: center;
		font-weight: bold;
	}